name: Xcode - Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build IPA (unsigned)
    runs-on: macos-latest
    env:
      scheme: BLEScope
      archive_path: archive

    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '26.0'

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Scheme
        id: scheme
        run: |
          if [ "$scheme" = "default" ]
          then
            scheme_list=$(xcodebuild -list -json | tr -d "\n")
            scheme=$(echo $scheme_list | ruby -e "require 'json'; puts JSON.parse(STDIN.gets)['project']['targets'][0]")
            echo Using default scheme: $scheme
          else
            echo Using configured scheme: $scheme
          fi
          echo "scheme=$scheme" >> $GITHUB_OUTPUT

      - name: Set filetype_parameter
        id: filetype_parameter
        run: |
          filetype_parameter=`ls -A | grep -i \.xcworkspace$ && echo workspace || echo project`
          echo "filetype_parameter=$filetype_parameter" >> $GITHUB_OUTPUT

      - name: Set file_to_build
        id: file_to_build
        run: |
          file_to_build=`ls -A | grep -i \.xcworkspace$ || ls -A | grep -i \.xcodeproj$`
          file_to_build=`echo $file_to_build | awk '{$1=$1;print}'`
          echo "file_to_build=$file_to_build" >> $GITHUB_OUTPUT

      - name: Archive
        env:
          scheme: ${{ steps.scheme.outputs.scheme }}
          filetype_parameter: ${{ steps.filetype_parameter.outputs.filetype_parameter }}
          file_to_build: ${{ steps.file_to_build.outputs.file_to_build }}
        run: |
          set -o pipefail
          xcodebuild archive \
            -archivePath "$archive_path" \
            -scheme "$scheme" \
            -"$filetype_parameter" "$file_to_build" \
            -destination "generic/platform=iOS" \
            -sdk iphoneos \
            CODE_SIGNING_ALLOWED=NO \
            -configuration Release | tee build.log

      - name: Tar Build Artifact
        if: success()
        run: tar -cvf "$archive_path.xcarchive.tar" "$archive_path.xcarchive"

      - name: Upload Build Log
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: build.log
          path: build.log

      - name: Upload Archive Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.archive_path }}.xcarchive.tar
          path: ${{ env.archive_path }}.xcarchive.tar

      - name: Create IPA
        if: success()
        run: |
          sh .github/build_github.sh

      - name: Upload IPA Artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.scheme }}.ipa
          path: ${{ env.scheme }}.ipa
